body {
  background: url(minecraft.jpg);
  background-size: cover;
}

.nav1 {
  width: 100%;
  margin: 0 auto;
}
.nav1:before {
  content:'';
  display:block;
  height:100px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  z-index:-1;
  top:195px;
  }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  width: 100%;
}
li {
  float: left;
  width: 19.5%;
  height:100px;
  /*font-weight: 1;*/
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  width: 100%;
}
li a:hover {
  background-color: purple;
  border-color: green;
  border-radius: 15px;
}
.nav2 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -1px;
  /*height: 1000px;*/
  background-color:gray;
}
.div1 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 55px;
  height:900px;
  background-color: white;
}
.navкредиты {
  margin-top: -1px;
  height:100px;
  background-color:darkgray;
}
