nav {
  width: 100%;
  margin: 0 auto;
}
nav:before {
  content:'';
  display:block;
  height:100px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  z-index:-1;
  }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height:50px;
}
ul li {
  float: left;
}
ul li a {
  color:green;
  display: block;
  height:100px;
  padding: 0 150px;
  text-decoration: none;
  line-height:100px;
}
ul li a:hover {
  background: purple;
  border-color: green;
  border-radius: 10px;
}
